[Unit]
Description=Eisenflow Backend Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/eisenflow-backend
ExecStart=/root/eisenflow-backend/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
